
/* bg */
.bg {
    background-image: url('source/fondo-cine.png'); 
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; 
}

/* form */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* login */
.login-container {
    background-color: #333; 
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-image: linear-gradient(to right, #333, #000); /* Gradient border */
    border-image-slice: 1;
    padding: 1rem;
}


/* button */
button {
    background-color: rgba(36, 36, 36, 0.7); 
    border: 1px solid white; 
    color: white; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: rgba(50, 50, 50, 0.8); 
}



